div{
	border-radius:5px;	
	}

#blue {
	width:100%;
	height:80px;
	background-color:#E7FFB8;
	border:2px dashed black;
	border-radius:10%;
	z-index:1;
	margin-top:-20px;
	
}
#name{
	font-family:arial;
	font-size:30px;
	font-weight:bold;
	float:left;
	padding:5px;
}
#mail{	font-family:arial;
	font-size:15px;
	float:right;
	padding:5px;
}
.both{
	clear:both;
	display:inline-block;
}
#sagin{
	margin:10px 30px 30px 10px;
	width:20%;
	height:350px;
	background-color:#E8CB67;
	float:left;
}
#na{
	margin:10px 30px 30px 10px;
	width:40%;
	height:350px;
	background-color:#FF8B42;
       
}
#right{
	margin:10px 30px 30px 10px;
	width:20%;
	height:350px;
	background-color:#E8CB67;

}

.both2{
	text-align:center;
	font-size:15px;
	font-family:garamond,arial;
	padding-top:5px;
}
#footer{
	width:100%;
	height:80px;
	background-color:#E7FFB8;
	clear:both;
	
}
